<header class="header-container container-fluid">
    <div class="navbar navbar-default site-nav top-header" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    Menu
                </button>
                <a style="min-width: 175px;" class="navbar-brand" href="javascript: void 0">
                    <span class="logo-header">Eaxample(Примерчик)</span>
                </a>
            </div>
            <div class="navbar-collapse collapse nav-items">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#/profile/settings">Профиль пользователя</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
